.chordChart { font-size: 10pt; 
  font-family: "Consolas", Consolas, "Inconsolata", monospace;
  text-align: left;
  clear:both;
  break-inside: avoid; }

.chordChart pre sub, .chordChart pre sup, pre.chordChart sub, pre.chordChart sup {
  font-size:1em; }

.chordChart small {
  font-stretch: condensed;
  font-size: smaller; }

/* SECTION TITLES / LABELS */
table.chordChart th, div.chordChart div.label { 
  font-weight: bold; text-align: center;
  display:block; width:100%; padding:0;
  color:#000; background-color:hsl(330,100%,80%); }

/* CHORD styling */
.chord, .chordChart b { display:block;
  font-size:140%; font-weight: bold; height: 1.5rem; }
.chord sub, .chord sup, .chordChart b sub, .chordChart b sup { 
  font-size: 75%;}
.chord sup+sub, .chord sub+sup, .chordChart b sup+sub, .chordChart b sub+sup {
  position:relative; left: -1ch; }
.lyrics, .rhythm, .chordChart i { 
  display:block; font-size:9pt; color: #aaa; letter-spacing: 1ch; height:0.5rem; }

/* LINE / CHORD AREA styling */
table.chordChart { border-spacing: 0 1em; border-collapse: separate; }
div.line, div.chordChart>div { padding:1em 0; clear: both; }

/* MEASURE/BAR styling */
div.bar, div.line>div, div.chordChart>div>div { display:inline; float:left; }
div.bar>span, .chordChart td>span { display:inline;float:left; }
table.chordChart td,
div.bar, div.line>div, div.chordChart>div>div { /*display:inline; float:left;*/ 
  border-right: 1pt solid;
  padding-left: 1ch; min-width: 4ch; }
table.chordChart tr td:first-of-type,
div.bar:first-of-type, div.line>div:first-of-type, div.chordChart>div>div:first-of-type
 { border-left: 1pt solid;}

/* NARROW styling */
.chordChart.narrow i, .chordChart.narrow .lyrics, .chordChart.narrow .rhythm {
  letter-spacing: 0.5ch; }
.chordChart.narrow td,
.chordChart.narrow div.bar, 
.chordChart.narrow div.line>div, 
.chordChart.narrow div.chordChart>div>div {
  padding-left: 0.5ch; }
