@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

@font-face {
  font-family: "Consolas";
  src: local ("Consolas"),
       url("../fonts/consola.ttf"); }
@font-face {
  font-family: "Consolas";
  font-weight: bold;
  src: local ("Consolas Bold"),
       url("../fonts/consolab.ttf"); }
@font-face {
  font-family: "Consolas";
  font-style: italic;
  src: local ("Consolas Italic"),
       url("../fonts/consolai.ttf"); }
@font-face {
  font-family: "Consolas";
  font-weight: bold;
  font-style: italic;
  src: local ("Consolas Bold Italic"),
       url("../fonts/consolaz.ttf"); }


div.chordChart, table.chordChart { 
  font-size: 0.833rem;
  font-family: /*"Consolas",*/ "Archivo", sans-serif;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
  text-align: left;
  clear:both;
  break-inside: avoid;
  width: fit-content;
  padding: 0 1em; }
div.chordChart {
  /*margin: 0 0 1em;*/
  padding-top: 1em; }
table.chordChart {
  margin: 0 0 -1em; }

/* CHORD RHYTHM */
.rhythm, .chordChart i {
  display:block;
  color: #ccc;
  font-family: "Inconsolata", monospace;
  font-size: 1em;                       /* cf ALTERNATIVE WIDTHS */
  font-variation-settings: "wdth" 112.5;
  letter-spacing: 0.72em;                /* cf ALTERNATIVE WIDTHS */
  line-height: 0.4em;
  height: 0.4em; }

/* LYRICS OR INLINE NOTES */
.lyrics, .chordChart q {
  position: absolute;
  white-space: nowrap;
  bottom: 100%;
  display:block;
  font-family: "Archivo", sans-serif;
  font-size: 0.9em;
  font-variation-settings: "wdth" 115;        /* cf ALTERNATIVE WIDTHS */
  font-style: italic; 
  color: #666;
  line-height: 0.5em;
  height: 0.5em; }
  
.chordChart q::before, .chordChart q::after { content: none; }

/* CHORD NAME styling */
.chord, .chordChart b {
  display:block;
  position: relative;
  font-size: 1.4em; 
  font-weight: 600; 
  font-variation-settings: "wdth" 87.5;
  height: 1.14em; 
  line-height: 1.14em;
  margin-right: 0.14em; }
.chord sub, .chord sup, .chordChart b sub, .chordChart b sup {
  vertical-align: baseline;
  position: relative;
  font-size: 0.85em;}
.chord sub, .chordChart b sub {
  top: 10%;
  font-weight: 500;
  letter-spacing: -0.2ch; }
.chord sup, .chordChart b sup {
  bottom: 40%; }
.chord sup+sub, .chord sub+sup, .chordChart b sup+sub, .chordChart b sub+sup {
  position:relative; left: -1ch; }

/* CHORD ACCENT and ARTICULATION styling */
.chord.marcato::after, .chordChart b.marcato::after { /* MARCATO */
  content: "^";
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-variation-settings: "wdth" 140;
  position:absolute;
  top: -0.4em; left: -0.1ch; }
.chord.diamond::after, .chordChart b.diamond::after { /* DIAMOND */
  content: "◇";
  font-family: "Inconsolata", monospace;
  font-size: 0.85em;    /* 12pt */
  font-weight: 400;
  position: absolute;
  top: -0.8em; left: -0.08em; }
.chord.push::before, .chordChart b.push::before { /* PUSH */
  content: "<";
  font-family: "Archivo", sans-serif;
  font-size: 0.85em;    /* 12pt */
  font-weight: 200;
  position: absolute;
  top: -0.6em; left: -0.7ch; }

/* SMALL chords */
.chordChart small {
  font-size: 0.7em;
  font-weight: 500;
  font-variation-settings: "wdth" 75;
  letter-spacing: -0.2ch; }
.chordChart small sub, .chordChart small sup {
  font-size: 0.9em; }

/* LINE of CHORD CHART styling */
table.chordChart { border-spacing: 0 1em; border-collapse: separate; }
div.line, div.chordChart>div { display: flex; padding: 0.5em 0; clear: both; }

/* SECTION TITLES / LABELS */
div.chordChart div.label {
  display:block; width:100%; padding:0.08em; margin: 0 0 0.5em; }
table.chordChart th, div.chordChart div.label {
  font-weight: bold;
  font-variation-settings: "wdth" 125;
  text-align: center;
  color:#000;
  background-color:hsl(330,94%,80%); }

/* COMMENT styling */
table.chordChart td.comment, .chordChart div.comment,
table.chordChart td.comment:first-of-type,
div.chordChart div.comment:first-of-type {
  font-family: "Consolas", "Inconsolata", monospace;
  font-style: italic;
  border: none;
  line-height: 2em;
  padding-left: 1ch; }

/* MEASURE/BAR styling */
div.bar, div.line>div, div.chordChart>div>div { display:inline; float:left; }
div.bar>span, div.line>div>span, div.chordChart>div>div>span,
table.chordChart td>span { display:inline; float:left; position:relative; }
table.chordChart td,
div.bar, div.line>div, div.chordChart>div>div {
  position:relative;
  border-right: 0.1em solid;
  padding-left: 0.2em;                  /* cf ALTERNATIVE WIDTHS */
  min-width: 2em; }
table.chordChart tr td:first-of-type,
div.bar:first-of-type, div.line>div:first-of-type, div.chordChart>div>div:first-of-type
 { border-left: 0.1em solid;}

/* BRACES */
div.bar.braceLeft::before, table.chordChart td.braceLeft::before {
  content: "{";
  font-size: 2.4em;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  position: absolute;
  line-height: 0.833em;
  left: -0.417em; }
div.bar.braceRight::after, table.chordChart td.braceRight::after {
  content: "}";
  font-size: 2.4em;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  position: absolute;
  line-height: 0.833rem;
  right: -0.417em;
  top: 0.2em; }
div.bar.braceRight { margin-right: 1em; }
table.chordChart td.braceRight+td { padding-left: 1.5em; }

/*---------------------------------------------
-------------ALTERNATIVE WIDTHS----------------
----------------------------------------------*/

/* EXTRA-NARROW styling */
.chordChart.extraNarrow i, .chordChart.extraNarrow .rhythm {    /* CHORD RHYTHM */
  letter-spacing: 0.36em; }
.chordChart.extraNarrow .lyrics, .chordChart.extraNarrow q {    /* CHORD LYRICS/NOTES */
  font-variation-settings: "wdth" 95; }
.chordChart.extraNarrow td,
.chordChart.extraNarrow div.bar,
.chordChart.extraNarrow div.line>div,
div.chordChart.extraNarrow>div>div {                       /* MEASURE */
  min-width: 1em;
  padding-left: 0.1em; }

/* NARROW styling */
.chordChart.narrow i, .chordChart.narrow .rhythm {    /* CHORD RHYTHM */
  letter-spacing: .54em; }
.chordChart.narrow .lyrics, .chordChart.narrow q {    /* CHORD LYRICS/NOTES */
  font-variation-settings: "wdth" 105; }
.chordChart.narrow td,
.chordChart.narrow div.bar,
.chordChart.narrow div.line>div,
div.chordChart.narrow>div>div {                       /* MEASURE */
  min-width: 1.5em;
  padding-left: 0.15em; }

/* WIDE styling */
.chordChart.wide i, .chordChart.wide .rhythm {        /* CHORD RHYTHM */
  letter-spacing: .96em; }
.chordChart.wide .lyrics, .chordChart.wide q {        /* CHORD LYRICS/NOTES */
  font-variation-settings: "wdth" 125; }
.chordChart.wide td,
.chordChart.wide div.bar,
.chordChart.wide div.line>div,
div.chordChart.wide>div>div {                         /* MEASURE */
  min-width: 4em;
  padding-left: 0.3em; }

/* PRE text-only styling */
pre.chordChart {
  font-family: "Consolas", "Inconsolata", monospace;
  font-variation-settings: "wdth" 125;
  font-size: 1rem; }
.chordChart pre sub, .chordChart pre sup, pre.chordChart sub, pre.chordChart sup {
  vertical-align: baseline;
  position:relative;
  top:0.5em;
  font-family: inherit;
  font-size:1em;
  font-weight: inherit;
  letter-spacing: 0; }
pre.chordChart b, pre.chordChart i {
  font-family: inherit;
  font-size: 1em;
  font-variation-settings: "wdth" 125;
  letter-spacing: normal;
  margin: 0;
  display: inline;
  position: static; }
