---
---

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth@112.5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..112.5,200..700;1,75..112.5,200..700&display=swap');

/*
HOT PINK    hsl(330,100%,60%)
LITE PINK   hsl(330,100%,80%)
TEAL        hsl(165,80%,60%)
*/

html {
    font-size: 16px;}
body {
    background-color:#000000;
    color:#ffffff;
    text-align: center;
    font-family: "Consolas", Consolas, "Inconsolata", monospace;
    font-size:1rem;
    line-height:1.5rem;
    min-height:40rem;
    width: 85ch;
    margin:0 auto;
    padding:0; }

@media print {
    body {
        margin: 0 0.5in;
        background-color: #fff;
        color:#000; }
    footer {
        visibility: hidden; }
}

a {
    color: hsl(330,100%,60%);
    text-decoration: none; }
a:visited {
    color: hsl(330,100%,80%);}
a:hover {
    text-decoration: underline; }

img, iframe {
    max-width: 100%;}

hr {
    margin:10px 0;}

h1 {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    font-variation-settings:"wdth" 112.5;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: -0.075em; }

h2 {font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.25rem;
    line-height: 3rem;}

h3 {font-family: "garamond-premier-pro", serif;
    font-weight:400;
    font-size: 1.75rem;
    line-height: 3rem;
    font-variant-caps:small-caps;}

h4 {font-family: "garamond-premier-pro", serif;
    font-weight:700;
    font-size: 1.5rem;
    line-height: 1.5rem;}

ul, ol {
    text-align: left; }

pre {
    text-align: left;
    margin-left: 4em;
    font-size: 0.833rem; }

/* ID-specific styles */

div#container {
    padding:1em;
    max-width: 100%; }

header {
    margin:0 auto;
    width:800px;
    max-width:100%;
    text-align:center; }
header img {
    margin:0 auto;
    height:auto;
    width:auto;
    max-height:2.5rem;
    max-width:100%; }

main, div#main {
    margin:24px auto;
    padding:0 12px 48px;
    width:720px;
    max-width:100%;}
    
.twoColumn {
    @media (min-width: 800px) {
        columns: 2;}
    }

nav, div#links {
    background-color: hsl(330,100%,60%);
    padding:1em;
    margin: 24px auto 40px;
    max-width:640px; }
div#links a div, nav a div {
    border: solid 1px white;
    padding: 1em;
    margin:1em;}
div#links a div:hover, nav a div:hover {
    background-color:white;}
div#links a:visited, div#links a,
nav a:visited, nav a {
    color:white;}
div#links a:hover, nav a:hover {
    color:black;}

div.linkArea {
    padding:1em;
    margin: 0 auto 40px;
    max-width:640px;}

div.era {
    margin:0 auto;
    padding:0 10px 40px;
    clear:both;}

div#footer {
    min-height:60px;
    font-size:10px;
    text-align:right;
    margin:60px auto;
    width:100%;}

#main p {
    text-align: left;
    font-family:'garamond-premier-pro', 'Garamond', Garamond, serif;
    font-size: 1rem;
    margin-bottom: 1em; }

/* color scheme classes */

.popTeal {
    color:#000;
    background-color: hsl(165,80%,60%);}
.popTeal2 {
    color: hsl(165,80%,60%);
    background-color:#000;}
.popPink {
    color:#fff;
    background-color: hsl(330,100%,60%);}
.popLitePink {
    color:#000;
    background-color:hsl(330,100%,80%);}
.popLitePink2 {
    color:hsl(330,100%,80%);
    background-color:#000;}
.popPink2 {
    color:hsl(330,100%,60%);
    background-color:#000;}
.popBW {
    color:#000;
    background-color: #fff;}

/* font classes */

.fontGaramond {
    font-family: 'garamond-premier-pro', 'Garamond', Garamond, serif;
    font-style: normal;}

.fontGranjon {
    font-family: 'garamond-premier-pro', 'Garamond', Garamond, serif;
    font-style: italic;}
.fontGranjon em {
    font-style: normal;}

.sansSerif {
    font-family: 'Archivo';
    font-weight: 400;
    font-variation-settings:'wdth' 100; }

small, .smallerText {
    font-size: 50%; }
