@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth@112.5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..112.5,200..700;1,75..112.5,200..700&display=swap');

/*
HOT PINK    hsl(330,100%,60%)   #ff3399     rgb(255,51,153)
            hsl(335,100%,60%)   #ff3388
LITE PINK   hsl(330,100%,80%)   #ff99cc     rgb(255,153,204)
            hsl(330,94%,80%)    #fc9ccc
TEAL        hsl(165,80%,60%)    #47ebc2     rgb(71,235,195)
            hsl(174,80%,60%)    #47ebda
BLACK       hsl(0,0,7%)         #111111
white       hsl(40,60%,97%)     #fcf9f3
*/

html {
    font-size: 16px;}

@media screen and (min-width: 1280px) {
    html { font-size: 20px; }}

body {
    background-color:#111;
    color:floralwhite;
    text-align: center;
    /*font-family: "Consolas", "Inconsolata", monospace;*/
    font-family: "Archivo";
    font-weight: 600;
    font-variation-settings: "wdth" 112.5;
    text-transform: uppercase;
    font-size:1rem;
    line-height: 1.5em;
    min-height:40rem;
    width: 45rem;
    max-width:100%;
    margin:0 auto 3rem;
    padding: 0 1.5rem; }

@media print {
    body {
        margin-left: 0.5in;
        background-color: #fff;
        color:#000; }
    footer {
        visibility: hidden; }
}

a {
    color: hsl(335,100%,60%);
    text-decoration: none; }
a:visited {
    color: hsl(330,94%,80%);}
a:hover {
    text-decoration: underline; }

img, iframe {
    max-width: 100%;}

hr {
    margin: 2rem auto;
    max-width: 12rem;
    border: 1pt dashed #fc9ccc; }

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 1em;}

h1 {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    font-variation-settings:"wdth" 112.5;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: -0.075em; }

h2 {font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.75rem;
    line-height: 2rem;
    text-transform: none; }

h3 {font-family: "garamond-premier-pro", serif;
    font-weight:400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-variant-caps:small-caps;
    text-transform: none; }

h4 {font-family: "garamond-premier-pro", serif;
    font-weight:700;
    font-size: 1.25rem;
    line-height: 1.5rem;}

ul, ol, menu {
    padding-left: 3rem;
    text-align: left;
    line-height: 1.5em; }

pre {
    text-align: left;
    margin: 1em auto;
    width:fit-content;
    white-space: pre-wrap; }

pre.lyrics, .lyrics pre {           /* LYRICS */
    font-size: 1em;
    line-height: 1.5em; }

pre.tab, .tab pre {               /* TABLATURE */
    font-size: 0.833rem;
    line-height: 1em; }

/* primary body area styles */

header {
    margin:0 auto 1rem;
    max-width:100%;
    text-align:center; }
header img {
    margin:0 auto;
    height:auto;
    width:auto;
    max-height:3rem;
    max-width:100%; }
header h1 {
    margin: 1rem; }

footer {
    margin: 1rem auto 0; }

main {
    margin: 1rem auto;
    padding: 0 0 2rem; }

main p {
    text-align: left;
    margin:0 auto 1em;
    /* max-width: 39rem; */ }

section, article, header, main, footer {
    clear: both; }

/* two-column format */

@media print, (min-width: 800px) {
    .twoColumn {
        columns: 2;}
    .twoColumn section, .twoColumn pre,
    .twoColumn p, .twoColumn ul, .twoColumn ol {
      break-inside: avoid-column; }
    .twoColumn pre:first-of-type,
    .twoColumn h1, .twoColumn h2, .twoColumn h3, .twoColumn h4, .twoColumn h5, .twoColumn h6 {
        margin-top:0; }
    }

/* nav links */

nav {
    background-color: hsl(335,100%,60%);
    padding: 0 0 1em;
    margin: 1.5rem auto 2.5rem;
    max-width: 24em; }
nav.buttonStyle {
    padding: 1px; }
nav a {
    display: block; }
nav a.buttonStyle, nav.buttonStyle a {
    border: solid 1px floralwhite;
    padding: 0.5em;
    margin: 1em;}
nav a div:hover, nav a:hover {
    background-color:floralwhite;}
nav a:visited, nav a {
    color:floralwhite;}
nav a:hover {
    color:#111;}


/* color scheme classes */

.surfGreen {
    color:#111;
    background-color: hsl(174,80%,60%);}
.popPink {
    color:floralwhite;
    background-color: hsl(335,100%,60%);}
.bubblegum {
    color:#111;
    background-color:hsl(330,94%,80%);}
.reverse {
    color:#111;
    background-color: floralwhite;}
@media print {
    .surfGreen, .bubblegum {
        color: #000; }
    .popPink {
        color: #fff; }
    .reverse {
        color: #fff;
        background-color: #000;  }
    }

.surfGreenText {
    color: hsl(174,80%,60%); }
.bubblegumText {
    color:hsl(330,94%,80%); }
.popPinkText {
    color:hsl(335,100%,60%); }

/* font classes */

.fontGaramond,
main p {
    font-family: 'garamond-premier-pro', 'Garamond', serif;
    font-size: 1.167em;         /* 14pt */
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: none; }

.fontGranjon,
blockquote {
    font-family: 'garamond-premier-pro', 'Garamond', serif;
    font-size: 1.167em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: none; }
.fontGranjon em, .fontGranjon i,
blockquote em, blockquote i {
    font-style: normal;}

.fontConsolas,
pre, code, kbd {
    font-family: "Consolas", monospace;
    font-size: 1em;
    font-weight: 400;
    text-transform: none; }
.fontGaramond pre, .fontGaramond code, .fontGaramond kbd,
.fontGranjon pre, .fontGranjon code, .fontGranjon kbd,
main p code, main p kbd {
    font-size: 0.857em;
    letter-spacing: 0; }

.sansSerif {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-variation-settings:'wdth' 100;
    letter-spacing: 0; }

.imperialGrotesk {
    font-family: "Archivo";
    font-size: 1em;
    font-weight: 600;
    font-variation-settings: "wdth" 112.5;
    letter-spacing: 0;
    text-transform: uppercase; }

/* CONDITIONAL STYLES FOR CHORD CHARTS */
@media screen {
    table.chordChart td,
    div.bar, div.line>div, div.chordChart>div>div
        {border-color: floralwhite;}
    }
@media print {
    table.chordChart td,
    div.bar, div.line>div, div.chordChart>div>div
        { border-color: black;}
    }

/* BANDCAMP EMBED */
iframe.bandcamp {
    border: 0;
    width: 15rem;
    height: 15rem;
    float:right;
    margin-bottom: 2em; }
