@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth@112.5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..112.5,200..700;1,75..112.5,200..700&display=swap');

/*
HOT PINK    hsl(330,100%,60%)   #ff3399     rgb(255,51,153)
            hsl(335,100%,60%)   #ff3388
LITE PINK   hsl(330,100%,80%)   #ff99cc     rgb(255,153,204)
            hsl(330,94%,80%)    #fc9ccc
TEAL        hsl(165,80%,60%)    #47ebc2     rgb(71,235,195)
            hsl(174,80%,60%)    #47ebda
BLACK       hsl(0,0,7%)         #111111
white       hsl(40,60%,97%)     #fcf9f3
*/

html {
    font-size: 16px;}

@media screen and (min-width: 1280px) {
    html { font-size: 20px; }}

body {
    background-color:#111;
    color:floralwhite;
    text-align: center;
    font-family: "Archivo";
    font-variation-settings: "wdth" 112.5;
    font-stretch: semi-expanded;
    font-size:1rem;
    line-height: 1.5em;
    min-height:40rem;
    width: 45rem;
    max-width:100%;
    margin:0 auto 3rem;
    padding: 0 1.5rem; }

@media print {
    body {
        margin-left: 0.5in;
        background-color: #fff;
        color:#000; }
    footer {
        visibility: hidden; }
}

a {
    color: hsl(335,100%,60%);
    text-decoration: none; }
a:visited {
    color: hsl(330,94%,80%);}
a:hover {
    text-decoration: underline; }

img, iframe {
    max-width: 100%;}

hr {
    clear: both;
    margin: 2rem auto;
    max-width: 12rem;
    border: 1pt dashed #fc9ccc; }

/* HEADER STYLES */

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    font-weight: 700;
    font-variation-settings: "wdth" 112.5; 
    font-stretch: semi-expanded;
    text-transform: uppercase;
    letter-spacing: -0.075em; }

h1.granjon, h2.granjon, h3.granjon, h4.granjon, h5.granjon, h6.granjon {
    font-family: "garamond-premier-pro", "Garamond", serif;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    letter-spacing: 0.025em;
    text-transform: none; }

h1.garamond, h2.garamond, h3.garamond, h4.garamond, h5.garamond, h6.garamond {
    font-family: "garamond-premier-pro", "Garamond", serif;
    font-weight: 400;
    font-stretch: normal;
    font-variant-caps: small-caps;
    letter-spacing: 0;
    text-transform: none; }

h1 {
    font-size: 2rem;
    line-height: 2rem; }
h1.granjon, h1.garamond {
    font-size: 2.333rem; }

h2 {
    font-size: 1.75rem;
    line-height: 2rem;}
h2.granjon, h2.garamond {
    font-size: 2rem; }

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;}
h3.granjon, h3.garamond {
    font-size: 1.75rem; }

h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;}
h4.granjon, h4.garamond {
    font-size: 1.5rem; }

h5 { 
    font-size: 1em;
    line-height: 1.5rem;}
h5.granjon, h5.garamond {
    font-size: 1.25rem; }

h6 { 
    font-size: 0.75em;
    line-height: 1.5rem;}
h6.granjon, h6.garamond {
    font-size: 1rem; }

/* LIST styles */

ul, ol, menu {
    padding-left: 3rem;
    text-align: left;
    line-height: 1.5em;
    text-transform: uppercase; }

/* DETAILS and SUMMARY */

details summary {
    display: block;
    cursor: pointer;
    padding: 1rem;
    color: #111;
    background-color: hsl(330,94%,80%); }
details summary:hover {
    color: #111;
    background-color: floralwhite; }
details summary::after {
    content: "+"; }
details[open] summary::after {
    content: "-"; }

/* PRE-formatted text styles */

pre {
    text-align: left;
    margin: 1em auto;
    width:fit-content;
    white-space: pre-wrap; }

pre.lyrics, .lyrics pre {           /* LYRICS */
    font-size: 1em;
    line-height: 1.5em; }

pre.tab, .tab pre {               /* TABLATURE */
    font-size: 0.833rem;
    line-height: 1em; }

/* primary body area styles */

header {
    margin:0 auto 1rem;
    max-width:100%;
    text-align:center; 
    text-transform: uppercase; }
header img {
    margin:0 auto;
    height:auto;
    width:auto;
    max-height:3rem;
    max-width:100%; }
header h1 {
    margin: 1rem; }

footer {
    margin: 3rem auto 1rem; }

main {
    margin: 1rem auto;
    padding: 0; }

main p {
    text-align: left;
    margin:0 auto 1em; }

section, article, header, main, footer {
    clear: both; }

/* two-column format */

@media print, (min-width: 800px) {
    .twoColumn {
        columns: 2;}
    .twoColumn section, .twoColumn pre,
    .twoColumn p, .twoColumn ul, .twoColumn ol {
      break-inside: avoid-column; }
    .twoColumn pre:first-of-type,
    .twoColumn > hr:first-child,
    .twoColumn h1, .twoColumn h2, .twoColumn h3, .twoColumn h4, .twoColumn h5, .twoColumn h6 {
        margin-top:0; }
    }

/* nav links */

nav {
    /*background-color: hsl(335,100%,60%);
    padding: 0 0 1em;*/
    margin: 1.5rem auto 2.5rem;
    max-width: 24em; }
/*nav.buttonStyle {
    padding: 1px; }*/
nav a {
    display: block; }
nav a.buttonStyle, nav.buttonStyle a {
    /*border: solid 1px floralwhite;*/
    padding: 0.5em;
    margin: 1em 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.075em;}
nav a div:hover, nav a:hover {
    background-color:floralwhite;}
nav a:visited, nav a {
    color:floralwhite;}
nav a:hover {
    color:#111;}


/* color scheme classes */

.surfGreen {
    color:#111;
    background-color: hsl(174,80%,60%);}
.popPink {
    color:floralwhite;
    background-color: hsl(335,100%,60%);}
.bubblegum {
    color:#111;
    background-color:hsl(330,94%,80%);}
.reverse {
    color:#111;
    background-color: floralwhite;}
@media print {
    .surfGreen, .bubblegum {
        color: #000; }
    .popPink {
        color: #fff; }
    .reverse {
        color: #fff;
        background-color: #000;  }
    }

.surfGreenText {
    color: hsl(174,80%,60%); }
.bubblegumText {
    color:hsl(330,94%,80%); }
.popPinkText {
    color:hsl(335,100%,60%); }

/* font classes */

.fontGaramond,
main p {
    font-family: 'garamond-premier-pro', 'Garamond', serif;
    font-size: 1.167em;         /* 14pt */
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0.01em;
    text-transform: none; }

.fontGranjon,
blockquote {
    font-family: 'garamond-premier-pro', 'Garamond', serif;
    font-size: 1.167em;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0.03em;
    text-transform: none; }
.fontGranjon em, .fontGranjon i,
blockquote em, blockquote i {
    font-style: normal;}

.fontConsolas,
pre, code, kbd {
    font-family: "Consolas", monospace;
    font-size: 1em;
    font-weight: 400;
    font-stretch: normal;
    text-transform: none; }
.fontGaramond pre, .fontGaramond code, .fontGaramond kbd,
.fontGranjon pre, .fontGranjon code, .fontGranjon kbd,
main p code, main p kbd {
    font-size: 0.857em;
    letter-spacing: 0; }

.sansSerif,
.imperialGrotesk {
    font-family: "Archivo";
    font-size: 1em;
    /*font-weight: 600;*/
    font-variation-settings: "wdth" 112.5;
    font-stretch: semi-expanded;
    letter-spacing: -0.075em;
    text-transform: uppercase; }

/* CONDITIONAL STYLES FOR CHORD CHARTS */
@media screen {
    table.chordChart td,
    div.bar, div.line>div, div.chordChart>div>div
        {border-color: floralwhite;}
    }
@media print {
    table.chordChart td,
    div.bar, div.line>div, div.chordChart>div>div
        { border-color: black;}
    }

/* BANDCAMP EMBED */
iframe.bandcamp {
    border: 0;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1em; }

/*@media (min-width: 640px) {
    iframe.bandcamp {
        float: right;
        margin-bottom: 2em; }}*/

iframe.bandcamp-small {
    border: 0;
    width: 10rem; 
    height: 10rem; 
    margin-bottom: 1em;
    /*float: right; 
    margin-right: 2.5rem; 
    margin-bottom: 2em;*/ }

/* Discography */

div#albums section, div#singles section {
    margin-bottom: 3rem; }

@media (min-width: 768px) {
    div#albums section, div#singles section {
        margin: unset;
    }
    div#albums {
        display: grid; 
        grid-template-columns: 21rem 21rem; 
        gap: 1.5rem 3rem; 
        margin: -1em 0 3em; }
    div#singles {
        display: grid; 
        grid-template-columns: 14rem 14rem 14rem; 
        gap: 1.5rem;
        margin: -1em 0 3em; }
    }
