---
layout: empty
title: P O P E M P I R E
---

{% include logo.html %}

<header class="bubblegumText">
    <h1><span style="letter-spacing:-1px;">P</span>OP
        EM<span style="letter-spacing:-2px;">P</span>IRE</h1>
</header>

<p>Paragraph not in the main div. Body font is "Archivo", semi-expanded.</p>

<main>

    <h1>H1 Archivo</h1>

    <h2>Header 2</h2>

    <h3>Header 3</h3>

    <h4>Header 4</h4>

    <h5>Header 5</h5>

    <h6>Header 6</h6>

    <h2 class="granjon">H2 Garamond Italic (aka Granjon)</h2>
    <h3 class="granjon">H3 Garamond Italic (aka Granjon)</h3>

    <h2 class="garamond">H2 Garamond Small Caps</h2>
    <h3 class="garamond">H3 Garamond Small Caps</h3>

    <p class="fontGranjon">Main area, paragraph text, <em>emphasis</em> and
    <strong>strong text</strong>. The font style is <i>Granjon</i>.</p>

    <p class="popPinkText">This is called class popPinkText.<br>
    There's a second line, <em>emphasis</em> and <strong>strong text</strong>.
    The default paragraph font is <i>Garamond</i>.</p>

    <p class="surfGreenText">this is called class surfGreenText.</p>

    <p class="bubblegumText">This is called class bubblegumText.</p>

    <p class="reverse">Black &amp; white reverse. This class is called <code>reverse</code>.</p>

    <p class="sansSerif">Font "sansSerif" — Archivo (weight: 400, width: 100).</p>

    <hr>

    <pre>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.
    </pre>

    <hr>

<pre class="lyrics">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
qui officia deserunt mollit anim id est laborum.
</pre>

    <hr>

    <blockquote>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.
    </blockquote>

    <hr>

    <p>I have things narrowed down to three basic font families:</p>
    <ul>
        <li class="fontConsolas">Monospace - Consolas</li>
        <li class="fontGaramond">Serif - Garamond</li>
        <li class="imperialGrotesk">Sans Serif - Archivo</li>
    </ul>
    <p>Consolas is a proprietary font from Microsoft. I have uploaded it to the <code>/fonts/</code>
    folder on this site to make sure it is available. A free alternative is Inconsolata
    from Google, which has the advantage of having variable width and weight, but the 
    disadvantage of having no italic version.</p>
    <p>The version of Garamond I like is from Adobe, Garamond Premier Pro. It includes
    a very nice italic based on historic fonts by Robert Granjon.</p>
    <p>Archivo is a free font from Google which is fully variable. This is one of its best
    features. This font won out in an intense head-to-head battle with Neue Helvetica  
    and Arial Black to be featured in the current Pop Empire logo.</p>

    <ul>
        <li>h1, h2, h3, h4, h5, h6</li>
        <li>p, br, hr</li>
        <li>em, strong
        <li>b, i, u, s, q, mark</li>
        <li>small, sub, sup</li>
        <li>ol, ul, li</li>
        <li>pre, blockquote</li>
        <li>header, main, footer</li>
        <li>article, section, aside</li>
        <li>a, nav</li>
        <li>table, tr, td, th, thead, tbody, tfoot</li>
        <li>img, figure, figcaption</li>
    </ul>
</main>

<nav class="bubblegum">
    Bubblegum
</nav>

<nav class="surfGreen">
    Surf Green
</nav>

<nav class="popPink">
    Pop Pink
</nav>

<nav class="reverse">
    Reverse
</nav>

{% include footer.html %}
		