<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- adobe fonts -->
	  <link rel="stylesheet" href="https://use.typekit.net/fgf4ivf.css">
    <!-- stylesheet -->
    <link type="text/css" href="https://popempire.github.io/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Pop Empire</h1>
        <div>cincinnati oh</div>
      </header>
      <div id="main">
      {{ content }}
      </div>
      <footer>
        <a href="https://popempire.github.io">popempire.github.io</a>
      </footer>
    </div>
  </body>
</html>