<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- adobe fonts -->
	  <link rel="stylesheet" href="https://use.typekit.net/fgf4ivf.css">
    <!-- stylesheet -->
    <link type="text/css" href="https://popempire.github.io/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="main">
      {{ content }}
      </div>
      <footer>
        <a href="https://popempire.github.io">popempire.github.io</a>
      </footer>
    </div>
  </body>
</html>
