<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% if layout.sectionTitle %}
      {% capture sectTitle %}{{ layout.sectionTitle }} | {% endcapture %}
    {% endif %}
    {% if page.title %}
      {% capture pageTitle %}{{ page.title | downcase }} | {% endcapture %}
    {% endif %}
    {% capture htmlTitle %}{{ pageTitle }}{{ sectTitle }}P O P E M P I R E{% endcapture %}
    <title>{{ htmlTitle }}</title>
    <!-- adobe fonts -->
	  <link rel="stylesheet" href="https://use.typekit.net/fgf4ivf.css">
    <!-- stylesheet -->
    <link type="text/css" href="{{ site.url }}/css/style.css" rel="stylesheet">
    <link type="text/css" href="{{ site.url }}/css/chords.css" rel="stylesheet">
    {% if layout.customStyle %}
    <style type="text/css">
      {{ layout.customStyle }}
    </style>
    {% endif %}
  </head>
  <body>

{{ content }}

  </body>
</html>
